<!DOCTYPE html>
<html lang="en">
    
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silly Bus</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    {% csrf_token %}

    <h1>SillyBus</h1>
    <h2>A simple way to sync due dates with your Google Calander</h2>
    <div class="uploadContainer">
        <div class="file-input">
            <input type="file" id="pdfInput" accept="application/pdf" multiple="multiple">
            <label for="pdfInput">Select a file</label>
        </div>
        <p class="file-name"></p>
        <div class="button-container">
            <button onclick="uploadFiles()" role="button" class="button-19">Upload</button>
            <div class="spinner" id="uploadSpinner"></div>
        </div>
    </div>

    {% if not request.session.user_data %}
    <h2 id="requestForSignIn">Before uploading your syllabi, please sign in with your Google account</h2>
    <div id="g_id_onload"
        data-client_id="748616539320-opf8icfemd44vq0kgrio42o5n1ds8g71.apps.googleusercontent.com"
        data-context="signin"
        data-ux_mode="redirect"
        data-login_uri="http://localhost:8000/auth-receiver"
        data-auto_prompt="false">
    </div>

    <div class="g_id_signin"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left">
    </div>
    {% else %}
    <h2>Signed in with Google <span class="checkmark">✓</span></h2>
    {% endif %}
    
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="{% static 'scripts.js' %}"></script>
</body>

</html>