<!DOCTYPE html>
<html lang="en">



<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silly Bus</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    {% csrf_token %}

    <h1>SillyBus</h1>
    <h2>A simple way to sync due dates with your Google Calander</h2>
    <div class="uploadContainer">
        <div class="file-input">
            <input type="file" id="pdfInput" accept="application/pdf" multiple="multiple">
            <label for="pdfInput">Select files</label>
            <p class="file-name"></p>
        </div>
        <button onclick="uploadFiles()">Upload</button>
    </div>

    <script src="{% static 'scripts.js' %}"></script>
</body>

</html>