<!DOCTYPE html>
<html lang="en">



<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="748616539320-opf8icfemd44vq0kgrio42o5n1ds8g71.apps.googleusercontent.com">
    <title>Silly Bus</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    {% csrf_token %}

    <h1>SillyBus</h1>
    <h2>A simple way to sync due dates with your Google Calander</h2>
    <div class="uploadContainer">
        <div class="file-input">
            <input type="file" id="pdfInput" accept="application/pdf" multiple="multiple">
            <label for="pdfInput">Select files</label>
        </div>
        <p class="file-name"></p>
        <button onclick="uploadFiles()" role="button" class="button-19" role="button">Upload</button>
    </div>

    <h2>Before uploading your syllabi, please sign in with your Google account</h2>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>

    

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="{% static 'scripts.js' %}"></script>
</body>

</html>