body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    text-align: center;
}


.uploadContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: yellow;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#pdfInput {
    display: flex;
    text-align: center;
    background-color: #f4f4f4;
    padding: 4px;
}